@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: 'Ethnocentric';
  src: url('/fonts/ethnocentric.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  @apply antialiased;
}

/* Global Smooth Transitions */
a,
button,
input,
select,
textarea {
  @apply transition-all duration-300 ease-in-out;
}

@theme inline {
  --font-ethnocentric: 'Ethnocentric', sans-serif;
  --animate-marquee: marquee 75s linear infinite;
  --animate-shine-diagonal: shine-diagonal 3s infinite linear;
}

@keyframes shine-diagonal {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}

@keyframes cube-roll-right {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes tekko-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff6a00;
}

.animate-pulse-slow {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.1;
  }
}